html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video 
{ margin: 0; padding: 0; border: 0; font-size: 100%; font: inherit; vertical-align: baseline; }
/*------ 폰트 ------*/
@import url(//fonts.googleapis.com/earlyaccess/nanumbrushscript.css);

/*------ 기본 설정 ------*/
body {
    margin: 0;
}

* {
    box-sizing: border-box;
    /* RWD 필수 */
    margin: 0px;
    scroll-behavior: smooth;
}


/*------ div --------*/
div {
    display: inline;
}

/*------ a태그 ------*/
a {
    text-decoration: none;
}


a:visited {
    color: black;
}

/* ---- header ---- */
header {
    position: fixed;
    text-align: center;
    z-index: 1;

}

header img.logo {
    width: 120px;
    height: 120px;
}

header .logo {
    font-size: 50px;
    vertical-align: middle;
}

header ul.menu {
    list-style: none;
    font-weight: bold;
}

header ul.menu>li {
    display: inline;
}

ul.menu a {
    padding: 20px;
}

ul.menu a:hover {
    background-color: rgba(95, 158, 160, 0.5);
}

/* ---- aside ----- */
#sideMenu{
    position: fixed;
    top: 25%;
    right: 3.3%;
    font-size: 15px;
    color: #F3821F;
    background-color: rgba(95, 158, 160);
    border-radius: 5px;
    width: 40px;
    text-align: center;
    z-index: 3;
}


.sideMenu li{
    padding-top: 30px;
    padding-bottom: 30px;
    list-style: none;
    color:white;
    
}

/* ---- section ---- */

/* ---- corona ----*/
#corona {
    background-image: url(https://lh3.googleusercontent.com/proxy/ZLJNKVXGrFsr58G7jo1I9qjSnV0uIPOn3SyHkL9wtoWoF6KRMHiLMQyEauuX_yO6TslWc5KvXU4GwxO19LVqWel5KfMXtn3gnGgd6DSw5jckcmB-);
    background-repeat: no-repeat;
    height: 956px;
    background-size: 100% 100%;
}

#corona>iframe {
    display: block;
    position: relative;
    width: 80%;
    left: 10%;
    top: 17%;
    border: none;
    border-radius: 5px;
}

#corona>div {
    display: block;
    position: relative;
    width: 80%;
    top: 19%;
    left: 10%;
    border-radius: 5px;
    background-color: rgba(95, 158, 160, 0.4);
    text-align: center;
    font-weight: bold;
    padding: 5%;
    font-size: 50px;
    color: rgb(255, 255, 255);
    font-family: 'Nanum Brush Script', cursive;
}

/* ------- cook -------*/
#cook {
    background-image: url(https://blog.hmgjournal.com/images_n/contents/180515_egg01.jpg) ;
    background-repeat: no-repeat;
    height: 956px;
    background-size: 100% 100%;
}

/* ------- prevention -------*/
#prevention {
    background-image: url(http://nanna.seoul.kr/xe/files/attach/images/524/918/496/001/5628345a6ff589693cada7cca9f61792.jpg);
    background-repeat: no-repeat;
    height: 956px;
    background-size: 100% 100%;
}

/* ------- board -------*/
#board {
    background-image: url(https://data.ac-illust.com/data/thumbnails/c7/c75e55fdd1edcd2b858a95af26d8996e_t.jpeg) ;
    background-repeat: no-repeat;
    height: 956px;
    background-size: 100% 100%;
}